<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSBEOmmveijHzDg_3pCs_obIt15vPh0g07gG2F0qNDhzDAp3f2i" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">e-Hotel</h4>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">eHotel- Book Your Hotel</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link text-dark font-weight-bolder bg-light">
        Home
      </a>
      <br>
    </li>

    <li class="nav-item">
      <a routerLink="/home/signUp" class="nav-link text-dark font-weight-bold bg-light">
        Sign Up 
      </a>
    </li>
    <br>
    <li class="nav-item">
      <a routerLink="/home/logIn" class="nav-link text-dark font-weight-bold bg-light">
        Log In
      </a>
    </li>
  </ul>

</div>
<!-- End vertical navbar -->
<div class="page-content p-5" id="content">
  <h3 style="text-align: center;">Welcome to <em style="color:royalblue;">e-Hotel Reservation</em> : Browse and Book Hotel of Your Choice!</h3>
  <hr>
  <br>
  <p style="text-align: justify;">
    The <em>e-Hotel Reservation</em> is a web application which lets people browse through the hotels in the country and book hotel(s) of their choice.
    It is developed in order to make the people's life easier and save time while embracing the beauty of the technology.
    The application is developed based on Angular framework, JSON-Server and Bootstrap technologies.
  </p>
  <p style="text-align: justify;">
    One must first <a routerLink="/home/signUp">register</a> in order to get access to the hotels and hence book them. 
    Users can go to the portal to look for hotels and book any of their choice.
    Once done with booking, user can go to booking details page to get information about his or her bookings.
  </p>
</div>

